{% extends "base.html" %}

{% block title %}
    <title>TODO</title>
    
{% endblock %}


{% block content %}
    <div class="container">
    <form method="post" action="/add">
        {%csrf_token%}
        <input type="text" name="title">
        <button type="submit" class="btn btn-primary">Add</button>
    </form>


    {%for task in tasks%}
        
        {%if task.is_complete%}
            <p><strike>{{task}}</strike></p>    
        {% else %}
            <p>{{task}}</p>    
        {%endif%}
        <div class="row">
        <form method="post" action="{% url 'delete' pk=task.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <form method="post" action="{% url 'update' pk=task.id %}">
            {% csrf_token %}
            <a href="{% url 'update' pk=task.id%}" class="btn btn-outline-primary">Update</a>
        </form>
        </div>
    {% endfor %}
    </div>
{% endblock %}